variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build_welcomebeacon

Build_welcomebeacon:
  stage: build_welcomebeacon
  tags:
    - amd64
  image:
    name: "python:3.14-trixie"
    entrypoint: [""]
  script:
    - export DEBIAN_FRONTEND=noninteractive
    - python3 -m pip install -U platformio --break-system-packages
    - cd sensors
    - cd welcomebeacon
    - pio run